body{line-height:1.6;font-size: 16px}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer}
a:hover{/*text-decoration:underline;*/outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
/*对齐*/
.text-l{text-align:left}/*水平居左*/
.text-r{text-align:right}/*水平居中*/
.text-c{text-align:center}/*水平居右*/
.va *{vertical-align:sub!important;*vertical-align:middle!important;_vertical-align:middle!important}
.va-t{ vertical-align:top!important}/*上下居顶*/
.va-m{ vertical-align:middle!important}/*上下居中*/
.va-b{ vertical-align:bottom!important}/*上下居底*/

/*定位*/
.pos-r{position:relative} /*相对定位*/
.pos-a{position:absolute} /*绝对定位*/
.pos-f{position:fixed} /*固定定位*/

/*浮动 */
.f-l{float:left!important;_display:inline} /*左浮动*/
.f-r{float:right!important;_display:inline} /*右浮动*/

/*文字单行溢出省略号*/
.text-overflow{overflow: hidden;text-overflow: ellipsis;white-space: nowrap}

/*线条*/
.line{ font-size: 0; line-height: 0; border-top: solid 1px #e5e5e5; float: none}

/*预定义宽度*/
.w50{width: 50px !important;}/*50像素*/
.w60{width: 60px !important;}/*60像素*/
.w70{width: 70px !important;}/*70像素*/
.w80{width: 80px !important;}/*80像素*/
.w90{width: 90px !important;}/*90像素*/
.w100{width: 100px !important;}/*100像素*/
.w150{width: 150px !important;}/*150像素*/
.w200{width: 200px !important;}/*200像素*/
.w210{width: 210px !important;}/*210像素*/
.w240{width: 240px !important;}/*240像素*/
.w250{width: 250px !important;}/*250像素*/
.w300{width: 300px !important;}/*330像素*/
.w320{width: 320px !important;}/*320像素*/
.w350{width: 350px !important;}/*350像素*/
.w400{width: 400px !important;}/*400像素*/
.w450{width: 450px !important;}/*450像素*/
.w500{width: 500px !important;}/*500像素*/
.w550{width: 550px !important;}/*550像素*/
.w600{width: 600px !important;}/*600像素*/
.w700{width: 700px !important;}/*600像素*/
.w800{width: 800px !important;} /*800像素*/
.w900{width: 900px !important;} /*900像素*/

/*外边距*/
.mt-1{margin-top:1px}/*距上1像素*/
.mt-2{margin-top:2px}/*距上2像素*/
.mt-3{margin-top:3px}/*距上3像素*/
.mt-4{margin-top:4px}/*距上4像素*/
.mt-5{margin-top:5px}/*距上5像素*/
.mt-6{margin-top:6px}/*距上6像素*/
.mt-10{margin-top:10px}/*距上10像素*/
.mt-15{margin-top:15px}/*距上15像素*/
.mt-20{margin-top:20px}/*距上20像素*/
.mt-25{margin-top:25px}/*距上25像素*/
.mt-30{margin-top:30px}/*距上30像素*/
.mt-35{margin-top:35px}/*距上35像素*/
.mt-40{margin-top:40px}/*距上40像素*/
.mt-50{margin-top:50px}/*距上50像素*/

.mb-5{margin-bottom:5px}/*距下5像素*/
.mb-10{margin-bottom:10px}/*距下10像素*/
.mb-15{margin-bottom:15px}/*距下15像素*/
.mb-20{margin-bottom:20px}/*距下20像素*/
.mb-25{margin-bottom:25px}/*距下25像素*/
.mb-30{margin-bottom:30px}/*距下30像素*/
.mb-35{margin-bottom:35px}/*距下35像素*/
.mb-40{margin-bottom:40px}/*距下40像素*/
.mb-50{margin-bottom:50px}/*距下50像素*/

.ml-5{margin-left:5px}/*距左5像素*/
.ml-10{margin-left:10px}/*距左10像素*/
.ml-15{margin-left:15px}/*距左15像素*/
.ml-20{margin-left:20px}/*距左20像素*/
.ml-30{margin-left:30px}/*距左30像素*/
.ml-40{margin-left:40px}/*距左40像素*/
.ml-50{margin-left:50px}/*距左50像素*/
.ml-80{margin-left:80px}/*距左80像素*/
.ml-115{margin-left:115px}/*距左115像素*/

.mr-5{margin-right:5px}/*距右5像素*/
.mr-10{margin-right:10px}/*距右10像素*/
.mr-15{margin-right:15px}/*距右15像素*/
.mr-20{margin-right:20px}/*距右20像素*/
.mr-30{margin-right:30px}/*距右30像素*/
.mr-40{margin-right:40px}/*距右40像素*/
.mr-50{margin-right:50px}/*距右50像素*/

/*内填充|内边距*/
.pt-5{padding-top:5px}/*上填充5像素*/
.pt-10{padding-top:10px}/*上填充10像素*/
.pt-15{padding-top:15px}/*上填充15像素*/
.pt-20{padding-top:20px}/*上填充20像素*/

.pb-5{padding-bottom:5px}/*下填充5像素*/
.pb-10{padding-bottom:10px}/*下填充10像素*/
.pb-15{padding-bottom:15px}/*下填充15像素*/
.pb-20{padding-bottom:20px}/*下填充20像素*/

.pl-5{padding-left:5px}/*左填充5像素*/
.pl-10{padding-left:10px}/*左填充10像素*/
.pl-15{padding-left:15px}/*左填充15像素*/
.pl-20{padding-left:20px}/*左填充20像素*/
.pl-75{padding-left: 75px}/*左填充75像素*/

.pr-5{padding-right:5px}/*右填充5像素*/
.pr-10{padding-right:10px}/*右填充10像素*/
.pr-15{padding-right:15px}/*右填充15像素*/
.pr-20{padding-right:20px}/*右填充20像素*/

.pd-5{padding:5px}/*填充5像素*/
.pd-10{padding:10px}/*填充10像素*/
.pd-15{padding:15px}/*填充15像素*/
.pd-20{padding:20px}/*填充20像素*/

/*边框，css3圆角*/
.bk-gray{border:solid 1px #ddd} /*灰色边框*/
.radius{border-radius:4px; overflow:hidden} /*4像素圆角*/
.size-MINI.radius{ border-radius:3px}/*3像素圆角*/
.size-L.radius{ border-radius:5px}/*5像素圆角*/
.size-XL.radius{ border-radius:6px}/*6像素圆角*/
.round{border-radius:1000px; overflow:hidden} /*圆形*/
.circle{ border-radius:50%; overflow:hidden}/*圆形*/

/*css3阴影*/
.box-shadow{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);box-shadow:0 1px 2px rgba(0,0,0,0.1)} /*css3阴影效果*/
.text-shadow{-webkit-text-shadow:0 0 2px rgba(0,0,0,0.2);text-shadow:0 0 2px rgba(0,0,0,0.2)} /*css3文字阴影效果*/

/*行内分割竖线*/
.pipe{margin:0 5px;color:#CCC;font-size: 12px!important;vertical-align: text-bottom;}

/*文字尺寸*/
.f-0{font-size:0}
.f-12{font-size:12px}
.f-14{font-size:14px}
.f-16{font-size:16px}
.f-18{font-size:18px}
.f-20{font-size:20px}
.f-24{font-size:24px}
.f-26{font-size:26px}
.f-28{font-size:28px}
.f-30{font-size:30px}

/*文字行距|行高*/
.lh-16{line-height:16px}/*16像素行距*/
.lh-18{line-height:18px}/*18像素行距*/
.lh-20{line-height:20px}/*20像素行距*/
.lh-22{line-height:22px}/*22像素行距*/
.lh-24{line-height:24px}/*24像素行距*/
.lh-26{line-height:26px}/*26像素行距*/
.lh-28{line-height:28px}/*28像素行距*/
.lh-30{line-height:30px}/*30像素行距*/

/*文字颜色*/

/*主要颜色*/
.c-primary,.c-primary a,a.c-primary{color:#008ed8}
.c-primary a:hover,a.c-primary:hover{ color:#43aee4}

/*次主色*/
/*.c-secondary,.c-secondary a,a.c-secondary{color:#555}
.c-secondary a:hover,a.c-secondary:hover{ color:#555}*/

/*强调色—成功*/
.c-success,.c-success a,a.c-success{color:#5eb95e}
.c-success a:hover,a.c-success:hover{ color:#5eb95e}

/*强调色—危险*/
.c-danger,.c-danger a,a.c-danger{color:#dd514c}
.c-danger a:hover,a.c-danger:hover{ color:#dd514c}

/*强调色—警告*/
.c-warning,.c-warning a,a.c-warning{color:#f37b1d}
.c-warning a:hover,a.c-warning:hover{ color:#f37b1d}

/*强调色—错误*/
.c-error,.c-error a,a.c-error{color:#e40}
.c-error a:hover,a.c-error:hover{ color:#e40}

/*辅助色—浅黑*/
.c-333,.c-333 a,a.c-333{color:#333}
.c-333 a:hover,a.c-333:hover{ color:#333}

/*辅助色—灰色*/
.c-666,.c-666 a,a.c-666{color:#666}
.c-666 a:hover,a.c-666:hover{ color:#666}
.c-999,.c-999 a,a.c-999{color:#999}
.c-999 a:hover,a.c-999:hover{color:#999}

/*标准色—红色*/
.c-red,.c-red a,a.c-red{color:red}
.c-red a:hover,a.c-red:hover{ color:red}

/*标准色—绿色*/
.c-green,.c-green a,a.c-green{color:green}
.c-red a:hover,a.c-red:hover{color:green}

/*标准色—蓝色*/
.c-blue,.c-blue a,a.c-blue{color:blue}
.c-blue a:hover,a.c-blue:hover{color:blue}

/*标准色—白色*/
.c-white,.c-white a,a.c-white{color:white}
.c-white a:hover,a.c-white:hover{color:white}

/*标准色—黑色*/
.c-black,.c-black a{color:black}
.c-black a:hover,a.c-black:hover{color:black}

/*标准色—橙色*/
.c-orange,.c-orange a,a.c-orange{color:orange}
.c-orange a:hover,a.c-orange:hover{color:orange}

/*上标 下标*/
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}

/*隐藏 显示*/
.hide{display:none}
.hidden{display:none!important;visibility:hidden!important}
.show{display:block}
.invisible{visibility:hidden}

/*body {
	text-align:center;
	margin:0 auto;
}*/
table {
	margin:0px auto;
}
.palette {
	font-size: 14px;
	line-height: 1.214;
	color: #ffffff;
	margin: 0;
	padding: 15px;
}
.palette dt,
.palette dd {
	line-height: 1.429;
}
.palette dt {
	display: block;
	font-weight: bold;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.palette dd {
	font-weight: 300;
	margin-left: 0;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-webkit-font-smoothing: subpixel-antialiased;
}
.palette-pomegranate {
	background-color: #c0392b;
}
.palette-river {
	  background-image: url('../images/b.png');
	  background-size:100%
}
.palette-emerland {
	background-color: #2ecc71;
}
.logo-text {
	font-family:'Conv_OCRAStd',Sans-Serif;
	font-size: 64px;
}
#showResult {
	word-wrap: break-word;
	font-size: 64px;
}
